<a href="/"><img src="asset1/images/vote.webp" width="400px" height="300px" alt="Colorlib logo"></a>
<h1 style="text-align:center;">Welcome to our Electronic Voting System!</h1>
<p style="text-align:center;">Cast Your vote for your favourite candidate<strong><a href="/login">Get Started</a></strong>.</p>

<style>
img {
  margin: 0 auto 0;
  display: block;
  margin-top: 20%;
}
</style>